<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Accessrecord Table Details:-</h1>
        <table border="1px">
            <tr>
                <th>pk</th>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
            {% for ao in Access %}
            <tr>
                <th>{{ao.pk}}</th>
                <th>{{ao.name}}</th>
                <th>{{ao.author}}</th>
                <th>{{ao.date}}</th>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>